<center><img src="https://th.bing.com/th/id/OIP.KnOS3vOcNhLla8LSZw4TugHaHa?w=188&h=188&c=7&r=0&o=5&pid=1.7" width="200"></center>
<br> jenis cell di <b>Jupyter Notebooks</b> ada 2
<ol>
    <li>Mark Down (M)</li>
    <Li>Code (Y)</Li>
<ol>
<hr>

cara menambah Cell ada 2:
<ul>
    <Li> Above (A) </Li>
     <Li> Below (B) </Li>
</ul>

<table>
    <tr>
        <th>PERINTAH</th>
        <th>KETERANGAN</th>
    </tr>
    <tr>
        <td>ctrl + enter</td>
        <td>Running dan fokos di cell</td>
    </tr>
    <tr>
        <td>Shift + enter</td>
        <td>Running dan fokus di cell berikutnya</td>
    </tr>
</table>

print("PYTHON IS VERY EASY")
data = 5
data2 = "10"
print (data)
print ("sekarang hari jumat")
print('Deklarasikan variable "A"')
print(data + int(data2))
print(data2)
data2
data + 100

In [8]:
name = "PANDU WIGUNA RUSWANDI"
age = 19
address, province = "Jl. Selabintana", "7413412"
pythonScore = 90.5
isMarried = True

print("nama :",name)
print("umur :",age)
print("Alamat :",address)
print("Provinsi :",province) 
print("Nilai pemrograman :",pythonScore)
print("Status menikah :",isMarried)

nama : PANDU WIGUNA RUSWANDI
umur : 19
Alamat : Jl. Selabintana
Provinsi : 7413412
Nilai pemrograman : 90.5
Status menikah : True

In [9]:
print("Type data (name) : ", type(name))
print("Type data (age) : ", type(age))
print("Type data (address) : ", type(address))
print("Type data (province) : ", type(province))
print("Type data (scorePythom) : ", type(pythonScore))
print("Type data (isMarried) : ", type(isMarried))

Type data (name) :  <class 'str'>
Type data (age) :  <class 'int'>
Type data (address) :  <class 'str'>
Type data (province) :  <class 'str'>
Type data (scorePythom) :  <class 'float'>
Type data (isMarried) :  <class 'bool'>

In [ ]:
#Casting atau konversi Tipe Data

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+2,strToFloat,strToBool)

intTostr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intTostr,intToFloat, intToBool)

floatTostr = str(pythonScore)
floatToint = int(pythonScore)
floatToBool = bool(pythonScore)
print(floatTostr, floatToint, floatToBool)

boolTostr = str(isMarried)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
print(boolTostr, boolToInt, boolToFloat)

In [21]:
#String adalah kumpulan daribeberapa karakter dan immutable
city = "Bandung"
panjang = len(city)
print(city[0])
print(city[panjang-1])

B
g

In [ ]:
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Niai desimal :", desimal)
print("Nilai biner :", biner)
print("Niai octal :", octal)
print("Nilai hexa :", hexa)

print("biner dari",desimal,":",bin(desimal))
print("octal dari", desimal, ":", oct(desimal))
print("hexadesimal dari", desimal, ":" , hex(desimal))

In [36]:
#tipe data collection
cities = ["Sukabumi", "Malang" , "Bandung"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "jakarta"
print(cities) 

hobbies = ("Basket","Sholat","Football")
print(hobbies)
print(hobbies[0])

#hobbies[0] = "Watching netflix" error program
studentData = {
    "Name" : "Andi",
    "Age" : 20,
    "address" : {
          "street" : "cibolang kaler",
          "number" : 21,
          "province" : "Kab.Sukabumi"
}
}

studentlist = [
    {
    "Name" : "Andi",
    "Age" : 20,
    "address" : {
          "street" : "cibolang kaler",
          "number" : 21,
          "province" : "Kab.Sukabumi"
    }
},
    {
    "Name" : "Budi",
    "Age" : 23,
    "address" : {
          "street" : "Jl. hati-hati",
          "number" : 50,
          "province" : "Kab.Bogor"
}
}
]
print(studentData)
print(studentData["Name"])
print(studentData["address"],["province"])

['Sukabumi', 'Malang', 'Bandung']
Sukabumi
Bandung
['Sukabumi', 'jakarta', 'Bandung']
('Basket', 'Sholat', 'Football')
Basket
{'Name': 'Andi', 'Age': 20, 'address': {'street': 'cibolang kaler', 'number': 21, 'province': 'Kab.Sukabumi'}}
Andi
{'street': 'cibolang kaler', 'number': 21, 'province': 'Kab.Sukabumi'} ['province']

In [7]:
#OPERASI ARITMETIKA

x = 10
y = 20


x = input("Isikan nilai X")
y = input("Isikan nilai Y")
x = int(x)
y = int(y)

hasilTambah = x + y
hasilKurang = x - y
hasilKali = x * y
hasilBagi = x / y
hasilModulus = x % y
hasilPangkat = x ** y
hasilDiv = x // y

print("Hasil Penjumlahan",x,"+",y,"=", hasilTambah)
print("Hasil Pengurangan",x,"-",y,"=", hasilKurang)
print("Hasil Perkalian",x,"*",y,"=", hasilKali)
print("Hasil Pembagian",x,"/",y,"=", hasilBagi)
print("Hasil Modulus",x,"%",y,"=", hasilModulus)
print("Hasil Pangkat",x,"**",y,"=", hasilPangkat)
print("Hasil Pembagian Bulat",x,"//",y,"=", hasilDiv)

Isikan nilai X 50
Isikan nilai Y 3

Hasil Penjumlahan 50 + 3 = 53
Hasil Pengurangan 50 - 3 = 47
Hasil Perkalian 50 * 3 = 150
Hasil Pembagian 50 / 3 = 16.666666666666668
Hasil Modulus 50 % 3 = 2
Hasil Pangkat 50 ** 3 = 125000
Hasil Pembagian Bulat 50 // 3 = 16

In [19]:
#OPERASI PENUGASAN

nilaiAwal = int(input("Isikan nilai awal: "))

print("Nilai awal :", nilaiAwal)
nilaiAwal+=3
print("setelah ditambah 3 =", nilaiAwal)
nilaiAwal-=5
print("kemudian dikurang dengan 5 =", nilaiAwal)
nilaiAwal*=3
print("selanjutnya dikali dengan 3 =", nilaiAwal)
nilaiAwal/=2
print("selanjutnya dibagi dengan 2 =", nilaiAwal)

Isikan nilai awal:  5

Nilai awal : 5
setelah ditambah 3 = 8
kemudian dikurang dengan 5 = 3
selanjutnya dikali dengan 3 = 9
selanjutnya dibagi dengan 2 = 4.5

In [21]:
#OPERATOR PERBANDINGAN

fVal = int(input("Isikan nilai fVal :"))
sVal = int(input("Isikan nilai Vval :"))

print(fVal, "=", sVal, fVal==sVal)
print(fVal, "!=", sVal, fVal!=sVal)
print(fVal, ">", sVal, fVal>sVal)
print(fVal, "<", sVal, fVal<sVal)
print(fVal, ">=", sVal, fVal>=sVal)
print(fVal, "<=", sVal, fVal<=sVal)

Isikan nilai fVal : 5
Isikan nilai Vval : 5

5 = 5 True
5 != 5 False
5 > 5 False
5 < 5 False
5 >= 5 True
5 <= 5 True

In [46]:
#OPERATOR LOGIKA

num_1=int(input("Isikan Bilangan 1 :"))
num_2=int(input("Isikan Bilangan 2 :"))

print("Bilangan 1:", num_1)
print("Bilangan 2:", num_2)

print("Apakah Bilangan 1 mod 2 = 0 dan Bilangan 2 lebih besar dari 3? ", num_1 % 2==0 and num_2 > 3)
print("Apakah Bilangan 1 mod 2 = 0 dan Bilangan 2 lebih besar dari 3? ", num_1 % 2==0 or num_2 > 3)
print("Apakah Bilangan 1 mod 2 = 0 dan Bilangan 2 lebih besar dari 3? ", not(num_1 % 2==0 or num_2 > 3))

Isikan Bilangan 1 : 6
Isikan Bilangan 2 : 1

Bilangan 1: 6
Bilangan 2: 1
Apakah Bilangan 1 mod 2 = 0 dan Bilangan 2 lebih besar dari 3?  False
Apakah Bilangan 1 mod 2 = 0 dan Bilangan 2 lebih besar dari 3?  True
Apakah Bilangan 1 mod 2 = 0 dan Bilangan 2 lebih besar dari 3?  False

In [56]:
#OPERATOR IDENTITAS

print("Andi" is "Andi")
Val1 = 10
Val2 = 10
Val3 = Val2
print(Val1 is Val2)
print(Val1 is not Val2)

print("Memory Address dari Val1",id(Val1))
print("Memory Address dari Val1",id(Val2))
print("Memory Address dari Val1",id(Val3))

True
True
False
Memory Address dari Val1 140725859658456
Memory Address dari Val1 140725859658456
Memory Address dari Val1 140725859658456

<>:3: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
C:\Users\USER\AppData\Local\Temp\ipykernel_1608\1016609994.py:3: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  print("Andi" is "Andi")

In [64]:
#OPERATOR KEANGGOTAAN
find = ("Budi")
daftarMahasiswa = ("Rudi", "Deni", "Nana", "Budi", "luis", "chandra","pandu")
print (find in daftarMahasiswa)
print (find not in daftarMahasiswa)

True
False

In [67]:
#OPERATOR BITWISE

Desimal1 = int(input("Isikan nilai 1 :"))
Desimal2 = int(input("Isikan nilai 2:"))

print(Desimal1 & Desimal2)
print(Desimal1 | Desimal2)
print(Desimal1 ^ Desimal2)
print(Desimal1 << Desimal2)
print(Desimal1 >> Desimal2)

Isikan nilai 1 : 64
Isikan nilai 2: 3

0
67
67
512
8