<center><img src="https://th.bing.com/th/id/OIP.KnOS3vOcNhLla8LSZw4TugHaHa?w=188&h=188&c=7&r=0&o=5&pid=1.7" width="200"></center>
<br> jenis cell di <b>Jupyter Notebooks</b> ada 2
<ol>
    <li>Mark Down (M)</li>
    <Li>Code (Y)</Li>
<ol>
<hr>

cara menambah Cell ada 2:
<ul>
    <Li> Above (A) </Li>
     <Li> Below (B) </Li>
</ul>

<table>
    <tr>
        <th>PERINTAH</th>
        <th>KETERANGAN</th>
    </tr>
    <tr>
        <td>ctrl + enter</td>
        <td>Running dan fokos di cell</td>
    </tr>
    <tr>
        <td>Shift + enter</td>
        <td>Running dan fokus di cell berikutnya</td>
    </tr>
</table>

print("PYTHON IS VERY EASY")
data = 5
data2 = "10"
print (data)
print ("sekarang hari jumat")
print('Deklarasikan variable "A"')
print(data + int(data2))
print(data2)
data2
data + 100

In [8]:
name = "PANDU WIGUNA RUSWANDI"
age = 19
address, province = "Jl. Selabintana", "7413412"
pythonScore = 90.5
isMarried = True

print("nama :",name)
print("umur :",age)
print("Alamat :",address)
print("Provinsi :",province) 
print("Nilai pemrograman :",pythonScore)
print("Status menikah :",isMarried)

nama : PANDU WIGUNA RUSWANDI
umur : 19
Alamat : Jl. Selabintana
Provinsi : 7413412
Nilai pemrograman : 90.5
Status menikah : True

In [9]:
print("Type data (name) : ", type(name))
print("Type data (age) : ", type(age))
print("Type data (address) : ", type(address))
print("Type data (province) : ", type(province))
print("Type data (scorePythom) : ", type(pythonScore))
print("Type data (isMarried) : ", type(isMarried))

Type data (name) :  <class 'str'>
Type data (age) :  <class 'int'>
Type data (address) :  <class 'str'>
Type data (province) :  <class 'str'>
Type data (scorePythom) :  <class 'float'>
Type data (isMarried) :  <class 'bool'>

In [ ]:
#Casting atau konversi Tipe Data

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+2,strToFloat,strToBool)

intTostr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intTostr,intToFloat, intToBool)

floatTostr = str(pythonScore)
floatToint = int(pythonScore)
floatToBool = bool(pythonScore)
print(floatTostr, floatToint, floatToBool)

boolTostr = str(isMarried)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
print(boolTostr, boolToInt, boolToFloat)

In [21]:
#String adalah kumpulan daribeberapa karakter dan immutable
city = "Bandung"
panjang = len(city)
print(city[0])
print(city[panjang-1])

B
g

In [ ]:
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Niai desimal :", desimal)
print("Nilai biner :", biner)
print("Niai octal :", octal)
print("Nilai hexa :", hexa)

print("biner dari",desimal,":",bin(desimal))
print("octal dari", desimal, ":", oct(desimal))
print("hexadesimal dari", desimal, ":" , hex(desimal))

In [36]:
#tipe data collection
cities = ["Sukabumi", "Malang" , "Bandung"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "jakarta"
print(cities) 

hobbies = ("Basket","Sholat","Football")
print(hobbies)
print(hobbies[0])

#hobbies[0] = "Watching netflix" error program
studentData = {
    "Name" : "Andi",
    "Age" : 20,
    "address" : {
          "street" : "cibolang kaler",
          "number" : 21,
          "province" : "Kab.Sukabumi"
}
}

studentlist = [
    {
    "Name" : "Andi",
    "Age" : 20,
    "address" : {
          "street" : "cibolang kaler",
          "number" : 21,
          "province" : "Kab.Sukabumi"
    }
},
    {
    "Name" : "Bui",
    "Age" : 23,
    "address" : {
          "street" : "Jl. hati-hati",
          "number" : 50,
          "province" : "Kab.Bogor"
}
}
]
print(studentData)
print(studentData["Name"])
print(studentData["address"],["province"])

['Sukabumi', 'Malang', 'Bandung']
Sukabumi
Bandung
['Sukabumi', 'jakarta', 'Bandung']
('Basket', 'Sholat', 'Football')
Basket
{'Name': 'Andi', 'Age': 20, 'address': {'street': 'cibolang kaler', 'number': 21, 'province': 'Kab.Sukabumi'}}
Andi
{'street': 'cibolang kaler', 'number': 21, 'province': 'Kab.Sukabumi'} ['province']