In [2]:
#LOOPING CARA UNTUK BERULANG KALI MENGEKSEKUSI KODE
#FOR LOOP KETIKA SUDAH TAU BATAS AWAL DAN BATAS AKHIR
#MISAL: TOLON PANGGILKAN SAYA TAXI 10X

#FOR WAY SELAMA KONDISI TRUE, BAKAL TERUS BERJALAN
#JADI KITAGAK TAU BATAS AWAL DAN BATAS AKHIRNYA


#ADA FUNGSI NAMANYA ENUMERATE() UNTUK MELAKUKAN LOOP TERHADAP SUATU OBJEK
#JADI SEPERTI ADA NOMOR LISTNYA

#WHILE LOOP YANG TERUS MENERUS MELAKUKAN LOO[ SAMPAI MEMENUHI SUATU KONDISI YANG MEMBUAT DIA HARUS BERHENTI

#break = akan memberhentikan loopingnya

In [6]:
i = 0
while i < 10:
    print(i)
    i +=1

0
1
2
3
4
5
6
7
8
9

<h4> for variabel in collection

In [13]:
fruits = ["apple", "banana", "watermelom", "pineaple"]
for fruit in fruits:
    print(f"Nama buah : {fruit}")

Nama buah : apple
Nama buah : banana
Nama buah : watermelom
Nama buah : pineaple

In [33]:
#contoh penggunaan
#kelas ti24f mempunyai nilai 80, 100, 90, 70, 70, 50, 40
#carilah nilai rata-ratanya

nilaipython =[80, 100, 90, 70, 70, 50, 40]
total = 0

for nilai in nilaipython:
    total += nilai

rata2 = total / len(nilaipython)
print(f"nilai rata-rata : {rata2}")

nilai rata-rata : 71.42857142857143

In [39]:
#ENUMERATE
month = ["jan", "feb", "mar", "apr", "may", "june", "jul", "aug", "sep"]
for i, m in enumerate(month):
    print(f"{i} : {m}")

0 : jan
1 : feb
2 : mar
3 : apr
4 : may
5 : june
6 : jul
7 : aug
8 : sep

In [43]:
kampus = input("Isikan nama kampus: ")
listvokal = ["a", "i", "u", "e", "o"]
total = 0
isvokal =""
for karakter in kampus:
    if karakter in listvokal:
        total +=1
        isvokal = "huruf vokal"
    else:
        isvokal = "bukan huruf vokal"
    print(f"{karakter} adalah {isvokal} | Total : {total}") #berapa banyak jumlah huruf vokal 'a,i,u,e,o'
print(f"jumlah total huruf vokal : {total}")

Isikan nama kampus:  Nusa putra

N adalah bukan huruf vokal | Total : 0
u adalah huruf vokal | Total : 1
s adalah bukan huruf vokal | Total : 1
a adalah huruf vokal | Total : 2
  adalah bukan huruf vokal | Total : 2
p adalah bukan huruf vokal | Total : 2
u adalah huruf vokal | Total : 3
t adalah bukan huruf vokal | Total : 3
r adalah bukan huruf vokal | Total : 3
a adalah huruf vokal | Total : 4
jumlah total huruf vokal : 4

In [55]:
#looping for comprehension
data = [1,2,3,4,5]
pangkat = [x**2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25]

In [64]:
#RANGE
for i in range(10):
    print(f"Nilai i adaLah:{i}")

Nilai i adaLah:0
Nilai i adaLah:1
Nilai i adaLah:2
Nilai i adaLah:3
Nilai i adaLah:4
Nilai i adaLah:5
Nilai i adaLah:6
Nilai i adaLah:7
Nilai i adaLah:8
Nilai i adaLah:9

In [62]:
for j in range(5,10):
    print(f"nilai j : {j}")

nilai j : 5
nilai j : 6
nilai j : 7
nilai j : 8
nilai j : 9

In [79]:
#cek bilangan prima atau bukan adalah yang bisa dibagi sama dirinya dan angka 1
number = int(input("Isikan bilangan :"))
faktor = 0

for i in range (1, number+1):
    if number % i == 0:
        faktor +=1

if faktor==2:
    print(f"{number} adalah bilangan prima")
else:
    print(f"{number} adalah BUKAN bilangan prima")

Isikan bilangan : 7

7 adalah bilangan prima

In [88]:
#FAKTORIAL
#3! =3 x 2 x 1 = 6

number = int(input("Isikan bilangan :"))
for i in range(1, number+1):
    total *= i
print(f"{number}! = {total}")

Isikan bilangan : 7

7! = 20160

In [96]:
#1 -2 3 -4 5 -6 7 -8 9 -10

number = int(input("Isikan bilangan"))
sign = 1
for i in range(1, number+1):
    result = sign * i
    print(f"{result} ", end=' ')
    sign *= -1

Isikan bilangan 10

1  -2  3  -4  5  -6  7  -8  9  -10

In [102]:
kursibioskop = ["L", "P", "P", "L", "L", "P", "L"]
#hitung jumlah penonton laki-laki
#hitung jumlah penonton perempuan
totallaki = 0
for jenis in kursibioskop:
    if jenis=="L":
        totallaki+=1
print(f"Jumlah penonton laki-laki : {totallaki}")
print(f"Jumlah penonton perempuan: {len(kursibioskop)-totallaki}")

Jumlah penonton laki-laki : 4
Jumlah penonton perempuan: 3

In [108]:
#HITUNG JUMLAH ORANG YANG BERPASANGAN
kursi= ["L", "P", "P", "L", "L", "P", "L"]
couple = 0
for i in range(len(kursi)-1):
    if kursi[i] != kursi[i+1]:
        couple+=1
print(f"jumlah couple adalah :{couple}")

jumlah couple adalah :4

In [116]:
#DICTIONARY
data = {
    "fname" : "Dedi",
    "lname" : "Robi"
}
for key, value in data.items():
    print(f"{key} : {value}")

fname : Dedi
lname : Robi

In [ ]:
tahu = [10,10,10,10,10,10]
#harga 1 tahu = 2000
#jika ada orang beli 15