In [14]:
## 1. Buatlah biodata sederhana dengan menggunakan fungsi input(), dan
# output variabel dengan fungsi format().
# 2. Jika terdapat kalimat UNIVERSITAS NUSA PUTRA SUKABUMI ,buatlah
#kode program untuk menampilkan output:
# a. putra nusa
# b. NIVERSITAS NSA PTRA SKABMI
# c. SUKABUMI PUTRA NUSA UNIVERSITAS
# d. UNPS
# e. TAS SAPU BUMI

Nama = input("Masukkan nama anda")
Kelas = input("Masukkan kelas")
Prodi = input("Masukkan prodi")
NIM   = input("Masukkan NIM anda")
Alamat = input("Masukkan alamat anda")


print("\n BIODATA")
print("Nama: {}" .format(Nama))
print("Kelas: {}" .format(Kelas))
print("Prodi: {}".format(Prodi))
print("NIM: {}".format(NIM))
print("Alamat: {}".format(Alamat))

Masukkan nama anda Pandu wiguna ruswandi
Masukkan kelas TI24F
Masukkan prodi Teknik informatika
Masukkan NIM anda 20240040258
Masukkan alamat anda Jl. Selabintana

 BIODATA
Nama: Pandu wiguna ruswandi
Kelas: TI24F
Prodi: Teknik informatika
NIM: 20240040258
Alamat: Jl. Selabintana

In [55]:
#putra nusa

kalimat = " UNIVERSITAS NUSA PUTRA SUKABUMI"
kata_putra = kalimat.split()[2].lower()
kata_nusa = kalimat.split()[1].lower()
print("a. {} {}".format(kata_putra, kata_nusa))

# b. NIVERSITAS NSA PTRA SKABMI
NIVERSITAS = ("b. {}".format(kalimat[2:13]))
kata = "NUSA"
NSA = (kata[:1] + kata[2:])
kata_2 = "PUTRA"
PTRA = (kata_2[:1] + kata_2[2:])
kata_3 = "SUKABUMI"
SKABMI = (kata_3[:1] + kata_3[2:5] + kata_3[6:8])

print(NIVERSITAS, NSA, PTRA, SKABMI)

# c. SUKABUMI PUTRA NUSA UNIVERSITAS
kata_SUKABUMI = kalimat.split()[3]
kata_PUTRA = kalimat.split()[2]
kata_NUSA = kalimat.split()[1]
kata_UNIVERSITAS = kalimat.split()[0]
print("c. {} {} {} {}".format(kata_SUKABUMI, kata_PUTRA, kata_NUSA, kata_UNIVERSITAS))

# d. UNPS
kata_U = kalimat.split()[0:1]
kata_N = kalimat.split()[1:12]
kata_P = kalimat.split()[2:22]
kata_S = kalimat.split()[3:28]
print("d. {} {} {} {}".format(kata_U, kata_N, kata_P, kata_S))

a. putra nusa
b. NIVERSITAS  NSA PTRA SKABMI
c. SUKABUMI PUTRA NUSA UNIVERSITAS
d. ['UNIVERSITAS'] ['NUSA', 'PUTRA', 'SUKABUMI'] ['PUTRA', 'SUKABUMI'] ['SUKABUMI']